@use "~bootstrap/scss/bootstrap";


.list_window {
    overflow-y: scroll;
    max-height: 200px;
}

.card-caption {
    overflow-y: scroll;
    max-height: 100px;
}

  .red::before {
    color: red!important;
  }